

.biodigestor-description .desc-top {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 21% 27% 39% !important; 
}

.biodigestor-description .desc-bottom {
    display: grid;
    grid-template-rows: 20% 40% 40% !important;
    grid-template-columns: 1fr !important;
    margin-top: -25rem;
}

.biodigestor .biodigestor-description .casca-img-tech {
    margin-top: 12rem;
    
}

.biodigestor-description .button-1{
    border: none;
    border-radius:40px;
    color: #fff;
    height: 30px;
    width: 90px;
    background-color: #FF7907;
}

.biodigestor-description .title-tech .logo-tech .casca-logo-tech{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:#FF7907;
}

.biodigestor-description .button-1:hover{
    background-color: #F1AD74;
}

.biodigestor-description .button-1:active{
    background-color: #F1AD74;
}

.biodigestor-description .button-1:focus{
    background-color: #F1AD74;
}
.biodigestor-description .logo-tech .casca-logo-tech img{
    height: 2.6rem;
}

.biodigestor-description .logo-tech .label-tech h2{
    font-Size: 1.7rem;
    font-Weight: 800;
    letter-Spacing: 1px;
    margin-Bottom: -28px;
    margin-top: -0.6rem;
    margin-left: 0.5rem ;
    color: var(--color-green-dark);
    opacity: 1;
}

/* --- TEMPORARIO --- */
.biodigestor-description .logo-tech .label-tech .labelB{
    font-Size: 2.5rem;
    padding-top: 5%;
    color: #FF7907;
    /* color: var(--color-green-light); */
}


.ant-row .ant-col {
    margin-top: 1rem;
}
.ant-row .ant-col div {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ant-row .ant-col img{
    width: 10rem;
}
.modal-biodigestor-description .ant-modal-body {
    padding-right: 5rem;
}

.biodigestor-description .co-graphic{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
  }
.biodigestor-description .graphic .line-gra div{
    width: 100%;
    background:#FF7907;
    animation-name: example;
    animation-duration: 2s;
}

@media screen and (min-width: 375px){
    .biodigestor-description .casca-img-tech {
        margin-top: 11rem !important;
    }

    .biodigestor .biodigestor-description .desc-top .justify {
        margin-top: -3rem;
    }

    .biodigestor-description .desc-bottom {
        display: grid;
        grid-template-rows: 25% 40% 35% !important;
    }

    .biodigestor-description .co-graphic {
        display: block;
        width: 100%;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 425px){
    .biodigestor-description .casca-img-tech {
        margin-top: 8rem !important;
    }
}

@media screen and (min-width: 480px){
    
    .biodigestor .biodigestor-description .desc-top .justify {
        margin-top: 0rem;
    }

    .biodigestor .biodigestor-description .desc-bottom {
        margin-top: -22rem !important;
    }
    
    
}

@media screen and (min-width:576px){
    .biodigestor .biodigestor-description .desc-top .justify {
        margin-top: 2rem;
    }

    .biodigestor .biodigestor-description .casca-img-tech {
        margin-top: 6rem !important;
    }
}

@media screen and (min-width:720px){
    .biodigestor .biodigestor-description .desc-top .justify {
        grid-column: 1/5 !important;
        grid-row: 3/4 !important;
        margin-top: 4rem;
    }
}

@media screen and (min-width:881px){
    
    .biodigestor-description .tooltip{
        margin-top: 0px;
    }

    .biodigestor-description .desc-top {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 22% 22% 66% !important;
        height: 42rem;
    }

    .biodigestor-description .desc-bottom {
        display: grid;
        grid-template-rows: 20% 40% 40%;
        grid-template-columns: 1fr !important;
        margin-top: 1rem !important;
    }

    .img-analize-co img{
        max-width: 650px;
    }

    .biodigestor-description .casca-img-tech img {
       
        max-width: 430px;
        
    }

    .biodigestor-description .casca-img-tech {
        margin-top: 0rem !important;
    }

    .biodigestor .biodigestor-description .casca-img-tech{
        grid-row: 1/2 !important;
    }

    .biodigestor-description .desc-top .justify {
        margin-top: 15rem;
    }

    .biodigestor-description .desc-bottom {
        margin-top: 19rem !important;
    }

    .biodigestor .biodigestor-description .desc-top .justify {
        margin-top: 16rem;
    }

    .biodigestor .biodigestor-description .desc-bottom {
        margin-top: 21rem !important;
    }
}

@media screen and (min-width:1024px){
    .biodigestor-description .justify-txt p {
        margin-right: 1rem !important;
        grid-column: 1/2 ;
    }

    .biodigestor-description .justify-txt p + p {
        grid-column: 2/3 ;
    }

    .biodigestor-description .desc-top .justify {
        margin-top: 12rem;
    }
    
    .biodigestor-description .fato-txtA{
        width: auto !important;
        margin-left: 3rem !important;
        grid-column: 2/4;
    }

    .biodigestor-description .fato-txtB{
        display: none;
    }
    
    .biodigestor-description .desc-bottom {
        
        /* padding-top: 8rem ; */
    }

    .biodigestor-description .desc-top {
        /* border: 1px solid #000; */
        display: grid !important;
        grid-template-columns: repeat(4,1fr) !important;
        grid-template-rows: 17% 13% 40% !important;
        height: 620px;
    }

    .biodigestor-description .justify-txt .tooltip {
        grid-column: 2/3;
    }

    .biodigestor .biodigestor-description .desc-bottom {
        margin-top: 27rem !important;
    }
}

@media screen and (min-width:1200px){
    .biodigestor .biodigestor-description .desc-bottom {
        margin-top: 25rem !important;
    }
}

