.ant-card-body{
  padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.selector {
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  /* width: 140px;
  height: 140px; */
  /* margin-top: -70px;
  margin-left: -70px; */
/* 
  left: 35%;
  top: 46%;
    margin-top: -17px;
    margin-left: -17px; */

    position: absolute;
    width: 140px;
    height: 140px;
    /* left: 35%; */
    top: 46%;
    margin-top: -17px;
    /* margin-left: -17px;*/
    

  }

  .menu-tecnologias{
    margin-bottom: 3rem;
  }
  
/* ANIMAÇÃO DO BG DO MENU TECH */

  .bg-menu-tech{
    position: absolute;
    font-weight: 600;
    /* font-size: 4rem; */
    z-index: -11;
    /* border: 1px solid #000000; */
    color: #0e76791f;
    width: 100%;
    /* top: 2rem; */
    line-height: 5.3rem;
    opacity: 0.2;

    top:4rem;
    font-size: 4rem;
  }
  

  /* [data-anime]{
    opacity: 0;
    transition: .3s;
  }

  [data-anime="left"]{
    transform: translate3d(-3rem, 0, 0);
  }

  [data-anime].animate{
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
    
  } */




  .selector,
  .selector button {
  font-weight: 600;
  color: #FFF !important;
       
  }
  
  .selector button {
    position: relative;
    /* width: 250px;
    height: 250px; */
    /* padding: 40% 0 0 0;  */
    padding: 0% 5% 0 5%; 
    background: #329BA3;
    border-radius: 50%;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
    /* top: -20%;
    left: -20%; */
    /* top: 20%;
    left: 22%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 7%;
    left: 26%;

    width: 6.5rem;
    height: 6.5rem;
  }
  
  /* .selector button:hover { background: #fff; } */
  
  .selector button:focus { outline: none; }
  
  .selector button div{
    background-color: #FAF238;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  /* top: -150px;
  right: -150px;
  bottom: -150px;
  left: -150px; */

  top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
  }
  
  .selector li {
  position: absolute;
  width: 0;
  /* height: 100%; */
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 3s ease-in-out;

  height: 65%;
  }

  


  .selector li input { display: none; }
  
  .selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 126%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #858484;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: ease-in-out .3s, color 0.1s, background 0.1s;

  
  }

  .selector.open li input + label {
    /* width: 100px;
    height: 100px; */
    /* line-height: 100px;
    margin-left: -40px; */
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
    font-size: 14px;

    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: -22px;
    /* box-shadow: 0 3px 3px rgb(0 0 0 / 10%); */
    }

    @media screen and (min-width:120px){
    
    .selector li img{
      width: 1.5rem !important;
  
    }
    
    .selector.open .c1 img,
    .selector.open .c3 img,
    .selector.open .c5 img{
      width: 1rem !important;
    }
  
  }


    @media screen and (min-width:125px){
      .techs{
        width: 100%;
      }

      .selector li input + label {
        position: absolute;
        left: 50%;
        bottom: 9.3rem;
    }
    .bg-menu-tech{
      top:2rem;
      font-size: 14vw;

    }
  }

  @media screen and (min-width:720px){

    .selector.open li input + label {
      /* width: 100px;
      height: 100px; */
      /* line-height: 100px;
      margin-left: -40px; */
      /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
      font-size: 14px;
      
      width: 80px;
      height: 80px;
      line-height: 70px;
      margin-left: -41px;
      /* box-shadow: 0 3px 3px rgb(0 0 0 / 10%); */
    }

    .selector li img{
      width: 2.3rem !important;
      /* top: 15px !important; */
  
    }
    
    .selector.open .c1 img,
    .selector.open .c3 img,
    .selector.open .c5 img{
      width: 1.6rem !important;
    }

    .selector li input + label {
      position: absolute;
      left: 50%;
      bottom: 25vw;
  }
    
  }

  @media screen and (min-width:992px){
    .selector li input + label {
      position: absolute;
      left: 50%;
      bottom: 22vw;
  }
  }
  
  .c1 label:hover{
    background: #329BA3;
    box-shadow: 0px 10px 20px 3px #329ba365;
  }
  .c2 label:hover {
    background: #1AC3E2;
    box-shadow: 0px 10px 20px 9px #1ac4e270;
  } 
  .c3 label:hover {
    background: #89773C;
    box-shadow: 0px 10px 20px 9px #89773c5b;
  }
  .c4 label:hover {
    background: #FF7907;
    box-shadow: 0px 10px 20px 9px #ff7b0763;
  }
  .c5 label:hover {
    background: #EFB802;
    box-shadow: 0px 10px 20px 9px #efb8026b;
  }
  .selector .buttonc1{
    background: #EFB802;
    
  }
  /* .selector li input + label:hover { background: #f0f0f0; } */
  
  /* .selector li input:checked + label {
  background: #5cb85c;
  color: white;
  }
  
  .selector li input:checked + label:hover { background: #449d44; } */
  .c1 input:checked + label{
    background: #329BA3;
  }
  .c2 input:checked + label{
    background: #1AC3E2;
  }
  .c3 input:checked + label{
    background: #89773C;
  }
  .c4 input:checked + label{
    background: #FF7907;
  }
  .c5 input:checked + label{
    background: #EFB802;
  }

  .c1:hover ~ .button{
    background: #329BA3;
    box-shadow: 1px 1px 15px #888888;
  }
  .c2:hover ~ .button{
    background: #1AC3E2;
  }
  .c3:active ~ .button{
    background: #89773C;
  }
  .c4:hover ~ .button{
    background: #FF7907;
  }
  .c5:hover ~ .button{
    background: #EFB802;
  }  

  /* .c1:hover ~ .button .more{
    color: #329BA3;
  }
  .c2:hover ~ .button .more{
    color: #1AC3E2;
  }
  .c3:hover ~ .button .more{
    color: #89773C;
  }
  .c4:hover ~ .button .more{
    color: #FF7907;
  }
  .c5:hover ~ .button .more{
    color: #EFB802;
    
  }  */
  

.selector .more{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  color: #329BA3;
}


@media screen and (min-width:576px){
  .bg-menu-tech{
      width: 500px;
      
  }
}

@media screen and (min-width:720px){
  .bg-menu-tech {
    width: 800px;
    line-height: 6.3rem;
    margin-top: 5vw;
}
  
    .menu-tecnologias{
      /* margin-bottom: 3rem; */
    }

    .techs .ant-card {
      margin-top: 2rem;
  }

  .techs .ant-card .div-yellow {
    background-color: var(--color-yellow);
    width: 40vw;
    height: 2rem;
}

  .techs .ant-card h1{
    font-size: 4vw;
    max-width: 480px;
  }

  
  .techs p {
    color: var(--color-black);
    text-align: center;
    text-indent: 0;
    font: normal normal 300 3.5vw/0rem Raleway;
    margin-top: 0rem;
}

    .techs .ant-card img {
      top:0;
      width: 33vw;
  }

  
  
}

@media screen and (min-width:768px){
  .selector .button{
    width: 8rem ;
    height: 8rem;

        top: 0%;
        left: 20%;

        font-size: 2.3vw;
  }

}

@media screen and (min-width:880px){
  .selector.open li input + label {
  
    font-size: 14px;
    
    width: 9.5vw;
    height: 9.5vw;
    line-height: 70px;
    margin-left: -50px;
    
  }

  .selector li input + label {
    
    bottom: 22vw;
}

.selector li img{
  width: 2.8rem !important;
  margin-top: 10px !important;

}

.selector.open .c1 img,
.selector.open .c3 img,
.selector.open .c5 img{
  width: 1.9rem !important;
}

}

@media screen and (min-width:992px){
  .bg-menu-tech {
    width: 800px;
    line-height: 8rem;
  }
  
  .menu-tecnologias{
    /* margin-bottom: 3rem; */
  }

  .selector .button{
    width: 11rem ;
    height:11rem;
        top: -1.1rem;
        left: 1.3rem;
  }

  .techs p {
    color: var(--color-black);
    text-align: center;
    text-indent: 0;
    font: normal normal 300 2.5vw/0rem Raleway;
    margin-top: 0rem;
}

.selector.open li input + label {
  
  font-size: 14px;
  
  width: 9.5vw;
  height: 9.5vw;
  line-height: 70px;
  margin-left: -50px;
  
}

.selector li img{
  width: 3.3rem !important;

  margin-top: 1rem;

}

.selector.open .c1 img,
.selector.open .c3 img,
.selector.open .c5 img{
  width: 2.3rem !important;
}
  
}

@media screen and (min-width:1100px){
  
  .selector .button {
    width: 19vw;
    height: 19vw;
    top: -3vw;
    left: 1vw;
  }

  .selector button div {
    background-color: #FAF238;
    width: 4vw;
    height: 4vw;
    border-radius: 40px;
}
}

@media screen and (min-width:1200px){
  .bg-menu-tech {
    width: 100%;
    line-height: 8rem;
}

.techs .menu-tecnologias {
  margin-top: 6rem;
}

.selector .button {
  width: 20vw;
  height: 20vw;
  top: -4vw;
  left: 0vw;
}

.selector li input + label {
  bottom: 20vw;
}

.selector li img{
  width: 4.7rem !important;
  margin-top: 1rem !important;

}

.selector.open .c4 img,
.selector.open .c2 img{
  margin-top: 2rem !important;
}

.selector.open .c1 img,
.selector.open .c3 img,
.selector.open .c5 img{
  width: 3.7vw !important;
}

}

@media screen and (min-width:1300px){
  
  .selector .button {
    width: 19vw;
    height: 19vw;
    top: -3.4vw;
    left: 0vw;
  }
}

@media screen and (min-width:1360px){

  .selector .button {
    width: 18vw;
    height: 18vw;
    top: -3vw;
    left: 0vw;
}


}

@media screen and (min-width:1440px){

  .techs .menu-tecnologias {
    margin-top: 7rem;
  }

  .bg-menu-tech {
    line-height: 12rem;
}

.selector li {
  position: absolute;
  width: 0;
  /* height: 100%; */
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 3s ease-in-out;
  height: 80%;
}

.selector.open li input + label {
  
  font-size: 14px;
  
  width: 10vw;
  height: 10vw;
  line-height: 70px;
  margin-left: -70px;
  
}
}

@media screen and (min-width:1600px){
  .selector .button {
    max-width: 325px;
    max-height: 325px;
}
}
