
.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
  
  }

  .menu-tecnologias{
    margin-bottom: 3rem;
  }
  
  .selector,
  .selector button {
  font-weight: 600;
  color: #FFF !important;
       
  }
  
  .selector button {
    position: relative;
    width: 250px;
    height: 250px;
    /* padding: 40% 0 0 0;  */
    padding: 0% 5% 0 5%; 
    background: #329BA3;
    border-radius: 50%;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
    /* top: -20%;
    left: -20%; */
    top: 20%;
    left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* .selector button:hover { background: #fff; } */
  
  .selector button:focus { outline: none; }
  
  .selector button div{
    background-color: #FAF238;
    width: 40px;
    height: 40px;
  }

  .selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -150px;
  right: -150px;
  bottom: -150px;
  left: -150px;
  }
  
  .selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 3s ease-in-out;
  }
  
  .selector li input { display: none; }
  
  .selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #858484;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: ease-in-out .3s, color 0.1s, background 0.1s;
  }

  .selector.open li input + label {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -40px;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
    font-size: 14px;
    }


  .c1 label:hover{
    background: #329BA3;
    box-shadow: 0px 10px 20px 3px #329ba365;
  }
  .c2 label:hover {
    background: #1AC3E2;
    box-shadow: 0px 10px 20px 9px #1ac4e270;
  } 
  .c3 label:hover {
    background: #89773C;
    box-shadow: 0px 10px 20px 9px #89773c5b;
  }
  .c4 label:hover {
    background: #FF7907;
    box-shadow: 0px 10px 20px 9px #ff7b0763;
  }
  .c5 label:hover {
    background: #EFB802;
    box-shadow: 0px 10px 20px 9px #efb8026b;
  }
  .selector .buttonc1{
    background: #EFB802;
    
  }
  /* .selector li input + label:hover { background: #f0f0f0; } */
  
  /* .selector li input:checked + label {
  background: #5cb85c;
  color: white;
  }
  
  .selector li input:checked + label:hover { background: #449d44; } */
  .c1 input:checked + label{
    background: #329BA3;
  }
  .c2 input:checked + label{
    background: #1AC3E2;
  }
  .c3 input:checked + label{
    background: #89773C;
  }
  .c4 input:checked + label{
    background: #FF7907;
  }
  .c5 input:checked + label{
    background: #EFB802;
  }

  .c1:hover ~ .button{
    background: #329BA3;
    content: 'test  ';
  }
  .c2:hover ~ .button{
    background: #1AC3E2;
  }
  .c3:hover ~ .button{
    background: #89773C;
  }
  .c4:hover ~ .button{
    background: #FF7907;
  }
  .c5:hover ~ .button{
    background: #EFB802;
  }  

  /* .c1:hover ~ .button .more{
    color: #329BA3;
  }
  .c2:hover ~ .button .more{
    color: #1AC3E2;
  }
  .c3:hover ~ .button .more{
    color: #89773C;
  }
  .c4:hover ~ .button .more{
    color: #FF7907;
  }
  .c5:hover ~ .button .more{
    color: #EFB802;
    
  }  */
  

.selector .more{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  color: #329BA3;
}