.site-page-header-ghost-wrapper {
    
    /* padding: 100px; */
    padding-left: 1rem;
    padding-top: 10px;
    padding-bottom: 0.4rem;

    /* grid-column: 1/7;
    /* padding: 100px; */
    /* padding-left: 10px;
    padding-top: 10px;
    margin: 0%;  */
 
}


.ant-page-header{
    background:none;
    padding-top: 0;
    padding-left: 1rem;
}

/* .ant-page-header-heading-left{
    overflow: visible;

} */

.fida img {
    width: 50vw;
}

@media screen and (min-width:720px){
    .fida img {
        width: 30vw;
        margin: 50px;
        margin-top: 30px;
    }
}

@media screen and (min-width:1200px){
    .fida img {
        width: 22vw;
        margin: 50px;
        margin-left: 6vw;
        margin-top: 1rem;
    }
}

/* @media screen and (min-width:720px){
    .site-page-header-ghost-wrapper {
        grid-column: 1/13;
        padding: 100px;
        padding-left: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
     
    }
    
    .ant-page-header{
        background:none;
    }
    
    .fida img {
        width: 30vw;
        margin: -50px;
    }
} */
