.analyze-co{
    /* border: 1px solid #000; */
    grid-column: 2/12;
    /* height: 500px; */
    display: flex;
}

.analyze-co .casca-ana-co{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 2rem;

}
.img-analize-co {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-analize-co img{
    width: 80vw;
}
.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }
.casca-ana-co .co-label{
    display: flex;
    position: relative;
    width: 600px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-green-dark);
    line-height: 1.5rem;
    text-align: center;
    margin: 2rem 0 6rem 0;
}
.biodigestor-analyzeco .casca-ana-co .co-label::before{
    position: absolute;
    content: '';
    /* top: -55px;
    left:13rem; */
    width: 140px;
    height: 140px;
    z-index: -1;
    border-radius: 50%;
    background: #FF7907;
}

.biodigestor-analyzeco .co-patente-trl {
    padding: 30px;
    background: #ececec;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    display: grid;
    grid-template-rows: 23% 14% 40% !important;
}

.biodigestor-analyzeco .co-patente-trl .p2{
    height: 47rem;
}

.co-patente-trl .img {
    margin:auto;
    
}
.ant-card-head-title {
    font-weight: bold;
}
/* Table  */

.modal-biodigestor .table-biodigestor-analyzeco .ant-table-thead tr th{
  background-color: #FF7907;
  color: white;
}
.modal-biodigestor .table-biodigestor-analyzeco .ant-table-container {
  border: solid;
  border-color: #FF7907;
}

.biodigestor-analyzeco .button-1 {
    background-color: #FF7907;
}

@media screen and (min-width:576px){
    .biodigestor-analyzeco .co-patente-trl .p2{
        height: 25rem;
    }
}

@media screen and (min-width:768px){
    .biodigestor-analyzeco .co-patente-trl .p2{
        height: 25rem;
    }

    .biodigestor-analyzeco .co-patente-trl{
        grid-template-rows: 33% 14% 40% !important;
    }
}

@media screen and (min-width:1024px){
    .biodigestor-analyzeco .co-patente-trl .p2{
        height: 35rem;
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .biodigestor-analyzeco .co-patente-trl .p1{
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .co-patente-trl .img {
        grid-column: 2/3;
        grid-row: 2/3;
    }

}

@media screen and (min-width:1300px){
    .biodigestor-analyzeco .co-patente-trl .p2{
        height: 30rem;
        
    }

}