.analyze-co{
    /* border: 1px solid #000; */
    grid-column: 2/12;
    /* height: 500px; */
    display: flex;
}

.analyze-co .casca-ana-co{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 2rem;

}
.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }
.casca-ana-co .co-label{
    display: flex;
    position: relative;
    width: 600px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-green-dark);
    line-height: 1.5rem;
    text-align: center;
    margin: 2rem 0 6rem 0;
}
.biodigestor-analyzeco .casca-ana-co .co-label::before{
    position: absolute;
    content: '';
    top: -55px;
    left:13rem;
    width: 140px;
    height: 140px;
    z-index: -1;
    border-radius: 50%;
    background: #FF7907;
}

.co-patente-trl {
    padding: 30px;
    background: #ececec;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
.co-patente-trl .img {
    margin:auto;
    
}
.ant-card-head-title {
    font-weight: bold;
}