
.site-page-header-ghost-wrapper {
    /* background-color: #f5f5f5; */
    padding: 100px;
  }
.h1 {
    font: normal normal 800 100px/564px Raleway;
    letter-spacing: 13.3px;
    color: var(--color-black); 
    opacity: 1;
    } 