boby,html{
    margin: 0%;
    padding: 0%;
    width: 100%;
    /* height: 100vh; */
}

#body{
 display: grid;
 grid-template-columns: repeat(12,1fr);
 max-width: 1440px;
 margin: auto;

}

.footer {
    width: 100%;
    grid-column: 1/13;
}
.footer img {
    width: 100%;
}