boby,html{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
}

#body{
 display: grid;
 grid-template-columns: repeat(12,1fr);

}

.site-page-header-ghost-wrapper{
    grid-column: 1/13;
}

.description{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.map{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.analyze-a{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.analyze-b{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.invest{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.experience{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}

.curiosities{
    border: 1px solid ;
    grid-column: 1/13;
    height: 500px;
}