.Curiosities{
    margin: 2rem 0rem;
    grid-column: 2/12;
    /* grid-column: 1/13; */
    /* height: 500px; */
    border: none;
}
.casca-curiosities{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.curiosities-label{
    display: flex;
    justify-content: center;
    min-width: 200px;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-green-dark);
    line-height: 1.5rem;
    margin: 3rem 0 2rem 0;
}
.subtitle{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.subtitle p {
    text-align: center;
    text-indent: 0;
}
.ant-collapse-header {
    background-color: #329BA3;
    color: #fff;
    /* font-weight: bold; */
}
.component-cartilha iframe {
    /* width:80rem; */
    width: 70vw !important;
    height: 32rem !important;
    max-width: 1010px;
}
.component-cartilha {
    display: flex;
    justify-content: center;
}
.button-download-cartilha-eolica {
    border: none;
    border-radius:40px;
    color: #fff;
    height: 3rem;
    width: 10rem;
    background-color: #329BA3;
}