 
#items-wrapper{
    /* border: 1px solid #000; */
    /* padding: 1px; */
    display: flex;
    align-items: center;
}

#items-wrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;    
    border-radius: 50%;
    background-color: var(--color-yellow);
    border: none;
    outline: none;
}

#items{
    width: 600px;
    display: flex;
    overflow-x: auto  ;
    /* border: 1px solid #000; */
    /* padding: 1px; */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-x: hidden;
    padding-left :30px ;

}

.item{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    /* box-shadow:0px 0px 4px 1px rgba(0, 0, 0, 0.274); */
    flex: none;
    scroll-snap-align:center;
    pointer-events: none;
    margin: 10px;
}

#items .item + .item{
    margin-left:30px ;
}

#items .item img{
    
    margin: 20px;
    margin-bottom: 0;
    width: 100px;
    
}

