
/* CASES */

.container-cases{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.container-cases .cases-body{
    display: flex;
    align-items: center;
}

.container-cases .cases-body .carousel{
    overflow: hidden;
    height: 550px;
    position: relative;
}



.carousel .list-cases{
    position: relative;
    top: 0%;
    left: 0%;
}


/* botoes */

.levels{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.levels div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    
}

.levels .point-level{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(104, 124, 100);
    
}

.levels .point-level + .point-level{
    margin-top: 0px;
}

.levels button{
    border-radius: 50%;
    background-color: var(--color-yellow);
    color: rgb(95, 95, 95);
    width: 30px;
    height: 30px;
    border: none;
    outline: none;

}

.carousel .case{
    position: relative;
    /* border: 1px solid rgba(121, 116, 116, 0.507); */
    width: 850px;
    height: auto;
    margin: 30px;
    margin-right: 20px;
    overflow: hidden;
}

.carousel .case .case-content{
    /* background: url('../../utils/images/solar_test1.jpg');
    background: no-repeat; */
    position: relative;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 30%;
    grid-template-areas:". . . . ."
                        "img img title title title"
                        "img img title title title"
                        "img img text text text";   
}

.case .case-content article::after{
    position: absolute;
    bottom: 0%;
    content: '';
    width: 82%;
    right: 0%;
    border-top: 145px solid var(--color-yellow);
    z-index: -2;
    }

.carousel .case .case-content .title{
    position: relative;
    /* border: 1px solid #000; */
    grid-area: title;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.carousel .case .case-content .title::before{
    position: absolute;
    content: '';
    top: 0%;
    height: 1.2rem;
    left: 0%;
    border-left: 14rem solid var(--color-yellow);
    z-index: -1;
}

.carousel .case .case-content .title h2{
    /* font-family: 'Raleway'; */
    color: var(--color-green-dark);
    font-weight: 700;
    font-size: 1.9rem;
}

.carousel .case .case-content .title .top{
    color: var(--color-green-medium);
}

.case-content .title h2 + h2{
    line-height: 45px;
}

.carousel .case .case-content .img {
    position: relative;
    /* border: 1px solid #000; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: img;
}

.case .case-content .img::after{
    position: absolute;
    content: '';
    top: 0%;
    height: 20.5rem;
    right: 0%;
    border-left: 12rem solid var(--color-green-medium);
    z-index: -1;
    }

.case .case-content img{
    margin: 1rem 0.7rem;
    width: 85%;
    
} 

.carousel .case .case-content .text{
    /* border: 1px solid #000; */
    grid-area: text;
    font-size: 12px;
    display: flex;
    margin-left:1rem ;
    padding: 2rem 1.5rem 1rem ;
    /* padding-top: 1.5rem; */
}

.text p + p {
    margin-left: 10px;
}


.case .more{
    position: absolute;
    right: 0.2rem;
    bottom: -0.2rem;
    /* border: 1px solid #000; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-yellow);
    font-size: 22px;
    
}

.case .more::before{
    position: absolute;
    content: '';
    top: -0.6rem;
    right: -3.0rem;
    height: 5rem;
    border-left: 5rem solid var(--color-green-medium);
    z-index: -1;
    transform: rotate(45deg);

}