html{
    overflow-x: hidden;
}

.ant-card {background: none;}

.main-banner-page{
    padding-left: 150px;
    margin-bottom: 3rem;
}

.ant-row .ant-col{
    margin-top: 100px;
}
body{
    font-family: 'Raleway', sans-serif;

}
h1{
    font: normal normal 800 100px/564px;
    letter-spacing: 13.3px; 
    color: #141414;
    opacity: 1;
}

.ant-row .ant-col img{
    width: 450px;
    padding-left: -200px;
    margin-bottom: -50;
}

.ant-row .banner-page .renova {
    font-Size: 80px;
    font-Weight: 800;
    letter-Spacing: 13.3px;
    margin-Bottom: -30px;
    color: var(--color-black);
    opacity: 1;
}

.ant-row .banner-page .fida {
    font-size: 80px;
    margin-bottom: -10px;
    font-weight: 800;
    color: var(--color-green-light);
    letter-spacing: 13.3px;
}

.ant-row .banner-page p {
    color: var(--color-black-text);
    font-weight: 300;
    font-size: 30px;
}
.ant-row .banner-page .text-p {

    color: var(--color-black-text);
    font-weight: 300;
    font-size: 30px;
}

.ant-row .banner-page button{
    border: solid;
    border-radius: 0px 16px;
    color: var(--color-green-dark);
    height: 72px;
    width: 250px;
    margin-top: 3rem;
    /* font-size: 17px; */
    font: normal normal bold 16px Raleway;
    border-color: var(--color-green-border);
}
.content-modal-home p{
    text-align: justify;
    text-indent: 3rem;
}
.modal-home-page .ant-modal-title{
    font-weight: bold;
    text-align: center;
    color: var(--color-green-dark);
}
.modal-home-page .ant-modal-header {
    background-color: #FAF238;

}
.ant-row .bg-main{
    position: "relative"; 
    /* background-image: url("../../utils/images/bg_main.png"); */
}

.ant-row .bg-main img{
    width: 600px;
}

/* TECHS */
.techs{
    margin-top: 10%;
    position: relative;
}
.techs .ant-card{
    display: "flex";
    /* padding-bottom: '0px',  */
    /* flex-direction: "column", */
    justify-content: "center";
    text-align: "center";
    background: none;
}

.techs .ant-card .div-yellow{
    background-color: var(--color-yellow);
    width: 495px;
    height: 34px;
}

.techs .ant-card h1{
    color: var(--color-green-dark);
    /* font-weight: 700; */
    font: normal normal 800 56px/136px Raleway;
    letter-spacing: 7.45px;
    margin-top: -65px;
    margin-bottom: -20px;
}

.techs p{
    color: var(--color-black-text);
    text-align: center;
    font: normal normal 300 24px/136px Raleway;
    margin-top: -55px;
}

.techs .ant-card{
    display: flex;
    justify-content: center;
    text-align: center;
}

.techs .ant-card img{
    width: 500px;
}
.team{
    margin-top: 10%;
}

.team{
    position: relative;
    overflow:none;
}

.team .ant-card {
    background: none;
}

.team .ant-card h1{
    color: var(--color-green-dark);
    font: normal normal 800 56px/136px Raleway;
    /* font-weight: 700; */
    margin-top: -70px;
    padding-left: 200px;
    margin-bottom: -75px;
}

.team .ant-card  p{
    color: var(--color-black-text);
    font: normal normal 300 24px/136px Raleway;
    letter-spacing: 3.19px;
    padding-left: 200px;
    /* textAlign: "center"; */
}
.team .ant-card .div-yellow{
    background-color: var(--color-yellow);
    width: 495px;
    height: 34px;
}
.team .ant-row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.team .ant-row .ant-card{
    height: 240px;
    width: 240px;
    margin: 10px;
}

.team .ant-row .ant-card img{
    width: 100px;
}

/* PARCEIROS */

.parceiros{
    margin-top: 10%;
}
.parceiros .ant-card{
    display: flex;
    justify-content: center;
    text-align: center;
}

.parceiros .ant-card .ant-row{

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

}

.parceiros .ant-card .ant-row .ant-card {
    /* height: 100px;
    width: 150px; */
    margin: 10px;

}

.parceiros .ant-card .ant-row .ant-card img{
    height: 3rem;
}

/* PATHs */

.path1{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 50vw;
    height: 50vh;
    /* height: 10rem; */
    background-position-y: -45vh;    
    background-position-x: -23vw;
    background-image: url('../../utils/images/Path8.svg');
    background-size: 140%;
    background-repeat: no-repeat;
    z-index: -10;
}

.path2{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 100vw;
    height: 100vh;
    top:10px;
    background-position-y: -6rem;
    background-position-x: -3rem;
    background-image: url('../../utils/images/Path9.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: -10;
}

.path3{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 105vw;
    height: 100vh;
    top: -20rem;
    right: -1rem;
    background-image: url('../../utils/images/Path10.svg');
    background-position-y: -19rem;
    background-position-x: -13rem;
    transform: rotate(-4deg);
    background-size: 118%;
    background-repeat: no-repeat;
    z-index: -10;
}

.path4{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 50vw;
    height: 50vh;
    top: -8rem;
    background-position-y: -4rem;
    background-position-x: -9rem;
    background-image: url('../../utils/images/Path11.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -10;
}

/* PATHs @MEDIA*/

/* @media screen and (min-width: ){

    


} */


/* FOOTER */

.footer {
    position: relative;
    width: 100%;
}
.footer img {
    width: 100%;
}