html{
    overflow-x: hidden;
}

body,html{
    font-family: 'Raleway', sans-serif;
    width:100%

}
h1{
    font: normal normal 800 100px/564px;
    letter-spacing: 13.3px; 
    color: #000;
    opacity: 1;
}

@media screen  and (max-width:720px){

    body .main{
        display: grid;
        /* grid-template-columns: repeat(6, 1fr); */
        /* grid-column: repeat(6, 1fr); */
    }
/* colocar grid como base */
}

.ant-row .ant-col div{
    display: block !important;

}

.ant-card {background: none;}


/* BANNER */

.main-banner-page{
    display: flex;
    padding-left: 150px;
    margin-bottom: 3rem;
    flex-flow: nowrap; 
}

.ant-row .ant-col{
    margin-top: 100px;
}


.ant-row .ant-col img{
    width: 450px;
    padding-left: -200px;
    margin-bottom: -50;
}

.ant-row .banner-page .renova {
    font-Size: 80px;
    font-Weight: 800;
    letter-Spacing: 13.3px;
    margin-Bottom: -30px;
    color: var(--color-black);
    opacity: 1;
}

.ant-row .banner-page .fida {
    font-size: 80px;
    margin-bottom: -10px;
    font-weight: 800;
    color: var(--color-green-light);
    letter-spacing: 13.3px;
}

.ant-row .banner-page p {
    color: var(--color-black);
    font-weight: 300;
    font-size: 30px;
}
.ant-row .banner-page .text-p {

    color: var(--color-black);
    font-weight: 300;
    font-size: 30px;
}

.ant-row .banner-page button{
    border: solid;
    border-radius: 0px 16px;
    color: var(--color-green-dark);
    height: 72px;
    width: 250px;
    margin-top: 3rem;
    /* font-size: 17px; */
    font: normal normal bold 16px Raleway;
    border-color: var(--color-green-border);
}

@media screen  and (max-width:720px){


    .main-banner-page{
        display: flex;
        grid-column: 1/7;
        padding-left:2rem;
        margin-bottom: 3rem;
        flex-flow:wrap; 
        width: 100%;
    }

    .banner-page{
        display: block;
    }
    
    .bg-main{
        display: none;
        width: 100vw;
        margin-left: 20vw;
    }

    
}

/* MODAL */


.content-modal-home p{
    text-align: justify;
    text-indent: 3rem;
}
.modal-home-page .ant-modal-title{
    font-weight: bold;
    text-align: center;
    color: var(--color-green-dark);
}
.modal-home-page .ant-modal-header {
    background-color: #FAF238;

}
.ant-row .bg-main{
    position: "relative"; 
    margin-top: -3rem;
    /* background-image: url("../../utils/images/bg_main.png"); */
}

.ant-row .bg-main img{
    width: 75%;
}

/* TECHS */
.techs{
    margin-top: 10%;
    position: relative;
}
.techs .ant-card{
    display: "flex";
    /* padding-bottom: '0px',  */
    /* flex-direction: "column", */
    justify-content: "center";
    text-align: "center";
    background: none;
}

.techs .ant-card .div-yellow{
    background-color: var(--color-yellow);
    width: 495px;
    height: 34px;
}

.techs .ant-card h1{
    color: var(--color-green-dark);
    /* font-weight: 700; */
    font: normal normal 800 56px/136px Raleway;
    letter-spacing: 7.45px;
    margin-top: -65px;
    margin-bottom: -20px;
}

.techs p{
    color: var(--color-black);
    text-align: center;
    text-indent: 0;
    font: normal normal 300 24px/136px Raleway;
    margin-top: -55px;
}

.techs .ant-card{
    display: flex;
    justify-content: center;
    text-align: center;
}

.techs .ant-card img{
    width: 500px;
}

@media screen and (max-width:720px){
    .techs{
        grid-column: 1/7;
    }

}


/* EQUIPE */


.team{
    margin-top: 10%;
}

.team{
    position: relative;
    overflow:none;
}

.team .ant-card {
    background: none;
}

.team .ant-card h1{
    color: var(--color-green-dark);
    font: normal normal 800 56px/136px Raleway;
    /* font-weight: 700; */
    margin-top: -70px;
    padding-left: 200px;
    margin-bottom: -75px;
}

.team .ant-card  p{
    color: var(--color-black);
    font: normal normal 300 24px/136px Raleway;
    letter-spacing: 3.19px;
    padding-left: 200px;
    text-indent: 0rem;
    /* textAlign: "center"; */
}
.team .ant-card .div-yellow{
    background-color: var(--color-yellow);
    width: 495px;
    height: 34px;
}
.team .ant-row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.team .ant-row .ant-card{
    height: 240px;
    width: 240px;
    margin: 10px;
}

.team .ant-row .ant-card img{
    width: 100px;
}


@media screen and (max-width:720px){
    .team{
        grid-column: 1/7;
    }
    .team .ant-card  p{
        padding: .2rem;
    }

    
}



/* PARCEIROS */

.parceiros{
    margin-top: 10%;
}
.parceiros .ant-card{
    display: flex;
    justify-content: center;
    text-align: center;
}

.parceiros .ant-card .ant-row{

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

}

.parceiros .ant-card .ant-row .ant-card {
    /* height: 100px;
    width: 150px; */
    margin: 10px;

}

.parceiros .ant-card .ant-row .ant-card img{
    height: 3rem;
}

@media screen and (max-width:720px){
    .parceiros{
        grid-column: 1/7;
    }
  
  }

/* PATHs */

.path1{
    
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 50vw;
    height: 50vh;
    /* height: 10rem; */
    background-position-y: -19rem;    
    background-position-x: -18rem;
    background-image: url('../../utils/images/Path8.svg');
    background-size: 140%;
    background-repeat: no-repeat;
    transform: rotate(5deg);
    z-index: -10;
}


.path2 {
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 103%;
    height: 100vh;
    top: 10px;
    background-position-y: -6rem;
    background-position-x: 0rem;
    background-image: url(/static/media/Path9.4397ba26.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -10;

}

.path3{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 105vw;
    height: 100vh;
    top: -20rem;
    right: -1rem;
    background-image: url('../../utils/images/Path10.svg');
    background-position-y: -19rem;
    background-position-x: -13rem;
    transform: rotate(-4deg);
    background-size: 118%;
    background-repeat: no-repeat;
    z-index: -10;
}

.path4{
    position: absolute;
    /* border: 1px solid #00000065; */
    width: 50vw;
    height: 50vh;
    top: -8rem;
    background-position-y: -4rem;
    background-position-x: -9rem;
    background-image: url('../../utils/images/Path11.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -10;
}



/* PATHs @MEDIA */

 @media screen and (max-width: 720px){

    .path1{
        width: 100vw;
        height: 30vh;
        grid-column:1/4;
        background-position-y: -13.5rem;    
        background-position-x: -14.5rem;
        background-size: 42rem;
        transform: rotate(3deg);

    }

    .path2{
        position: absolute;
        /* border: 1px solid #00000065; */
        width: 100%;
        height: 100vh;
        bottom: 7rem;
        background-position-y: 2rem;
        background-position-x: -7rem;
        background-image: url(/static/media/Path9.4397ba26.svg);
        background-size: 161%;
        background-repeat: no-repeat;
        z-index: -10;
    }

    .path3{
        display: none;
    }

    .path4{
        display: none;
    }
}


/* FOOTER */

.footer {
    position: relative;
    width: 100%;
}
.footer img {
    width: 100%;
}
.parceiros .ant-card .ant-row .ant-card img {
  height: 4rem;
}
.logo-grande {
  height:  5rem!important;
}
.logo-fida {
  height:  7rem!important;
}

.link-table-invest a{
    text-decoration: none;
    color: black;
}