/* .description{
    border: 1px solid #000;
    grid-column: 2/12;
    margin-bottom: 2rem;
    

} */

/* .description .desc-top{
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 16% 1fr 60%;
    
} */

/* .desc-top .title-tech{
    border: 1px solid #000;
    grid-column: 1/3;
    grid-row: 1/3;
} */
/* p {

    text-align: justify;
    text-indent: 3rem;
} */
.solar-curiosities .button-1{
    border: none;
    border-radius:40px;
    color: #fff;
    height: 30px;
    width: 90px;
    background-color: #EFB802;
}

.solar-curiosities .button-1:hover{
    background-color: #FAF238;
}

.solar-curiosities .button-1:active{
    background-color: #FAF238;
}

.solar-curiosities .button-1:focus{
    background-color: #FAF238;
}




/* .tooltip {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    margin-right: 20px;
} */
/* .tolltip-margin{
    margin-right: 20px;
} */
/* .content-modal p{
    text-align: justify;
    text-indent: 3rem;
} */
/* .ant-modal-title{
    font-weight: bold;
    text-align: center;
    color: white;
} */
/* .anticon-plus-circle{
    font-size: 30px;
    color: #08c;
}
.more {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
}
.more button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom: none;
    border: none;
    background: rgba(0, 0, 0, 0.199);
} */
/* .title-tech .logo-tech{
    display: flex;
} */

.solar-curiosities .title-tech .logo-tech .casca-logo-tech{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:#EFB802;
}

/* .logo-tech .casca-logo-tech img{
    height: 3.5rem;
} */

/* .logo-tech .label-tech h2{
    font-Size: 1.7rem;
    font-Weight: 800;
    letter-Spacing: 1px;
    margin-Bottom: -24px;
    margin-top: -0.6rem;
    margin-left: 0.5rem ;
    color: var(--color-green-dark);
    opacity: 1;
} */

/* --- TEMPORARIO --- */
.solar-curiosities .logo-tech .label-tech .labelB{
    font-Size: 2.5rem;
    padding-top: 5%;
    color: #EFB802;
    /* color: var(--color-green-light); */
}

.solar-curiosities .desc-top {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 17% 15% 39% !important; 
}

.solar-curiosities .desc-bottom {
    margin-top: -36rem;
}

/* ------------------ */

/* .desc-top .title-tech p{
    margin:1rem 1rem 0 0;
} */

/* .desc-top .justify{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: -2rem;
} */

/* .justify .justify-label{
    font-weight: 700;
    color: var(--color-green-dark);
    margin-bottom: 1.4rem;
} */

/* .justify .justify-txt{
    display: grid;
    grid-template-columns: 50% 50%;
    
} */
/* 
.justify-txt p{
    margin-right:1rem ;
    grid-column: 1/2;

} */

/* .description .casca-img-tech{
    position: relative;
    top: -15%;
    right: 0%;
    width: 100%;
    height: 32rem;
    border: 1px solid #000;
    grid-column: 3/5;
    grid-row: 1/4;
    margin-left: auto;
} */

/* .casca-img-tech img{
    position: relative;
    top: -12%;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    padding-left: 1rem;

    margin-top: 5rem;
} */

/* DESCRIPTION BOTTOM */

/* .description .desc-bottom{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    display: flex;
    border: 1px solid #000;
    align-items: center;
    margin-top: 5rem;
} */

/* .desc-bottom .fatores-label{
    border: 1px solid #000;
    min-width: 200px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-green-dark);
    line-height: 1.5rem;  
} */

/* .fato-txtA ,.fato-txtB{
    width: auto;
    margin-left: 1rem;
} */


.solar-curiosities  .co-graphic{
    /* display: flex; */
    width: 100%;
    margin-top: 2rem;
}
.solar-curiosities  .co-graphic .gra-label{
    /* border: 1px solid #000; */
    width: 30%;
    display: flex;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-green-dark);
    line-height: 1.9rem;
    margin: 2rem 0 2rem 0;

}

.solar-curiosities .co-graphic .casca-gra{
    width: 100%;
}

.solar-curiosities .co-graphic .graphic{
    /* border: 1px solid #000; */
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.solar-curiosities .co-graphic .graphic + .graphic{
    padding-top: 1rem;   
}

/* .solar-curiosities .graphic .label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--color-green-dark);
    font-weight: 600;
} */

.solar-curiosities .graphic .line-gra, .line-gra div{
    width: 100%;
    height: 22px;
    border-radius: 11px;
    background: rgb(236, 236, 236);
}
@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
  }
  .solar-curiosities  .graphic .line-gra div{
    width: 100%;
    background: #E2AF28;
    animation-name: example;
    animation-duration: 2s;
}

@media screen and (min-width:576px){
    .solar-curiosities .casca-img-tech {
        margin-top:1rem;
    }

}

@media screen and (min-width:720px){

    .solar-curiosities .co-graphic {
        display: flex;
    }

}

@media screen and (min-width:884px){
    .solar-curiosities .desc-top {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 16% 4% 30% !important;
    }

    .solar-curiosities .desc-bottom {
        margin-top: -38rem;
    }

    .solar-curiosities .desc-top .justify {
        grid-column: 1/5 !important;
        grid-row: 3/4 !important;
        margin-top: 6rem;
    }

    .solar-curiosities .casca-img-tech {
        margin-top:-12rem  !important;
    }
}

@media screen and (min-width:1024px){
    .solar-curiosities .desc-top {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 36% 4% 30% !important;
    }

    .solar-curiosities .desc-bottom {
        margin-top: 13rem !important;
    }


    .solar-curiosities .fato-txtA {
        width: auto !important;
        margin-left: 3rem !important;
        grid-column: 2/3;
    }

    .solar-curiosities .fato-txtB {
        width: auto !important;
        margin-left: 3rem !important;
        grid-column: 3/4;
    }

    .solar-curiosities .tooltip{
        margin-top: 0;
    }

    .solar-curiosities .casca-img-tech {
        margin-top: 0rem !important;
    }

    .solar-curiosities .justify-txt p{
        grid-column: 1/2;
    }

    .solar-curiosities .justify-txt p + p{
        grid-column: 2/3;
        margin-left: 2rem;
    }

    .solar-curiosities .justify-txt .tooltip {
        grid-column: 2/3;
    }

} 


